ClientEvalService/Connected Services/ServiceReferenceEval/metadata2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/evalservice/metadata?xsd=xsd2" namespace="http://www.ingenieriagd.net/WebServiceWCF" />
  <xs:element name="SubmitEval">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.ingenieriagd.net/WebServiceWCF" minOccurs="0" name="eval" nillable="true" type="q1:Eval" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitEvalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEval">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://www.ingenieriagd.net/WebServiceWCF" minOccurs="0" name="GetEvalResult" nillable="true" type="q2:Eval" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEvals">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEvalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://www.ingenieriagd.net/WebServiceWCF" minOccurs="0" name="GetAllEvalsResult" nillable="true" type="q3:ArrayOfEval" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvalsBySubmitter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="submitter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvalsBySubmitterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://www.ingenieriagd.net/WebServiceWCF" minOccurs="0" name="GetEvalsBySubmitterResult" nillable="true" type="q4:ArrayOfEval" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveEval">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveEvalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>